<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>{{config.title}}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Macondo&family=Press+Start+2P&family=Ubuntu:wght@400&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/style/main.css">
    <style>
        * {
            font-size: 2rem;
        }
    </style>
</head>
<body>
    <h1>{{config.h1}}</h1>
    <a href="{{config.a}}">{{config.aText}}</a>
</body>
</html>