<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>{{config.titleAdd}}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Macondo&family=Press+Start+2P&family=Ubuntu:wght@400&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/vote.css">

    <link rel="shortcut icon" href="/static/logo.png" type="image/x-icon">
</head>
<body>
    <h1>{{config.titleAdd}}</h1>
    <form method="post">
        <label for="idea">Idea:</label><br>
        <input id="idea" name="idea" type="text"><br>

        <label for="description">Description:</label><br>
        <input id="description" name="description" type="text"><br>

        <label for="contact">Some Contack Information (telegram, email, phone number, itch) (only developers will see that) (if you don't want to write it (we want, for you write it, because we need can write message to you), you can write '~')):</label><br>
        <input id="contact" name="contact" type="text"><br>

        <br><input type="submit" id="submit">
    </form>
</body>
</html>