<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>{{config.title}}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Macondo&family=Press+Start+2P&family=Ubuntu:wght@400&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/vote.css">

    <link rel="shortcut icon" href="/static/logo.png" type="image/x-icon">
</head>
<body>
    <h1>{{config.title}}</h1>
    {% for idea in ideas %}
        <form method="post" class="form" id="{{idea.id}}">
            <input type="hidden" name="idea_id" value="{{idea.id}}" />
            <div class="idea-name">
                <p>{{idea.name}}</p>
            </div>
            <div class="idea-description">
                <p>{{idea.description}}</p>
            </div>
            <div class="idea-buttons">
                {% for vote in idea.votes %}
                <button type="submit" name="{{vote}}" class="idea-{{vote}}-button">{{vote|upper}}: {{idea.votes[vote]}}</button>
                {% endfor %}
            </div>
        </form>
        {% endfor %}
</body>
</html>